*{
    margin: 0;
    padding:0;
}
/* nav styles */
.nav-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(222, 215, 215);
    font-size: 20px;
    padding: 20px 150px;
    /* align-items: right; */
}
.menu{
    /* text-align: center; */
    /* text-align:justify; */
    padding: 40px;
    padding-top: 40px;
    display: inline;
    text-align:right;
    /* display:flex; */
    /* justify-content: center; */
}
/* header section styles */
.header-section{
    background-image: url(./images/banner/banner1.png);
    width: 100%;
    height: 100vh;
    text-align:right;
    display: flex;
    justify-content: center;
}
.header-text{
    width: 50%;
    padding-left: 500px;
    padding-top: 200px;
    text-align: right;
    margin-right: 200px;
}
.heading-text{
    font-size: 50px;
    padding-bottom: 20px;
}
.header-description{
    width: 50%;
    padding-left: 320px;
    padding-bottom: 20px;
    
}
.primary{
    background-color:orangered;
    font-size:20px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
}
/* header section ends here */

/* main section styles */
.main-section{
    display: flex;
    width: 100%;
    height: 100vh;
}
.main-img{
    padding-top: 100px;
    padding-left: 100px;
    width: 70%;
}
.main-text{
    text-align: justify;
    padding-top: 300px;
    width: 30%;
    padding-right: 300px;
}
ul li{
    text-decoration: none;
    display: flex;
    justify-content:left;
    /* align-items: left; */
    margin-top: 10px;
}
.checkbox-img{
    width: 8%;
}
/* main section ends here */
/* plans section starts here */
.plans-section{
    margin: 300px 200px 100px 200px;
}
.plans-heading{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.all-plan{
    display:flex;
    justify-content:space-between;
}
.plans img{
    width: 60%;
    padding-left: 20px;
}

.plans p{
    color:grey;
}
/* plans section ends here */
/* banner section starts here */
.banner-section{
    margin-left: 100px;
    margin-bottom: 20px;
    height: 30vh;
    background-image:url(./images/watch.png), url(./images/gradient3.png);
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    color: white;
    font-size: 25px;
    padding:80px;
}
/* banner section ends here */
/* footer section starts here */
.footer-section{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 150px;
    /* margin-left: 20px; */
    background-color: black;
    color: white;
}
.footer-texts{
    width: 50%;
    align-items: left;
}
.footer-text-heading{
    padding-bottom: 10px;
    font-size: 30px;
}
.footer-text-description{
    padding-bottom: 10px;
    font-size: 20px;
}
.footer-text-icons{
    width: 5%;
}
.footer-subscribe{
    width: 50%;
    font-size: 25px;
    
}
.footer-input{
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}


/* footer section ends here */
